html,
body,
#root {
  background-color: #ffd237;
  height: 100%;
  width: 100%;
  margin: 0;
}

.wf-loading body {
  visibility: hidden;
}

.wf-active body .wf-inactive body {
  visibility: visible;
  font-family: Roboto;
}

/* Fix ios zoom */
body {
  touch-action: manipulation;
}

/* Prevent iOS bounce */
body {
  position: fixed;
  overflow: hidden;
}
